@tailwind base;
@tailwind components;
@tailwind utilities;

ul, ol {
  
  padding-left: 2.5em;
}

ul {
  list-style: disc;
}

ol {
  list-style:decimal;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

hr {
  margin-bottom: 1em;
  margin-top: 1em;
}

input, textarea {
  background-color: rgb(71, 85, 105);
  width: 100%;
  line-height: 1.5;
  outline: solid black 1px;
  padding: .5rem;
  border-radius: .25rem;
  margin-bottom: 1rem;
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(28, 28, 28);
  color: white;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.nav h1 {
  margin: 0;
}

.nav h1 a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.nav h1 a:hover {
  color: white;
  cursor: pointer;
}

.nav span {
  font-style: italic;
  opacity: 60%;
} */


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */